{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

<section class="vh-100 gradient-custom">
  <div class="container py-3 h-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">

            <div class="mb-md-3 mt-md-2 pb-3">
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-3">Please enter your login and password!</p>

              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-outline form-white mb-3">
                  {{ form.username|as_crispy_field }}
                </div>

                <div class="form-outline form-white mb-3">
                  {{ form.password|as_crispy_field }}
                </div>

                <p class="small mb-3 pb-lg-1"><a class="text-white-50" href="{% url 'password_reset' %}">Forgot password?</a></p>

                <button class="btn btn-outline-light btn-lg px-4" type="submit">Login</button>
              </form>

              <div class="mb-3">
                <a class="btn btn-outline-light btn-lg px-4" href="{% url 'manager:user-create' %}">Create account</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
