{% extends "base.html" %}

{% block content %}
<div class="holder d-flex align-items-center justify-content-center">
    <div class="container">
        <header class="text-center mb-5">
            <h1 class="display-4">Week Template Detail - starts {{ week_template.start_date }}</h1>
        </header>
        <div class="row">
          {% for day in week_template.get_days %}
            <div class="col-lg-5 mx-auto mb-4">
                <div class="card rounded border-0 shadow-sm position-relative">
                    <div class="card-body p-5">
                        <div class="d-flex align-items-center mb-4 pb-4 border-bottom"><i class="far fa-calendar-alt fa-3x"></i>
                            <div class="ms-3">
                                <h4 class="text-uppercase fw-weight-bold mb-0">{{ day.day_name }}
                                  <a href="{% url 'manager:task-week-create' pk=week_template.id day_number=forloop.counter %}" class="button btn-create btn-sm">+</a>
                                </h4>
                                <p class="text-gray fst-italic mb-0">{{ day.date }}</p>
                            </div>
                        </div>
                        {% for task in day.tasks.all %}
                            <div class="form-check mb-3">
                                <label class="form-check-label d-flex align-items-center" for="flexCheck1">
                                    <span class="fst-italic pl-1 mb-0">{{ task.title }}</span>
                                    <form method="post" action="{% url 'manager:task-complete' pk=task.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="week_template_id" value="{{ week_template.id }}">
                                        <button id="checkButton{{ task.pk }}" class="btn btn-default btn-sm ms-2" type="submit" name="complete" {% if task.completed %}disabled{% endif %}>
                                            {% if task.completed %}Done{% else %}Check if done{% endif %}
                                        </button>
                                    </form>
                                    <form method="post" action="{% url 'manager:task-week-delete' pk=task.id week_pk=week_template.id %}" onsubmit="return confirm('Are you sure you want to delete this task type?');">
                                      {% csrf_token %}
                                      <input type="submit" value="-" class="btn btn-danger btn-circle btn-circle-sm m-1">
                                    </form>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
